#container {
    width: 520px;
    margin: auto;
    position: relative;
}

#sidebar {
    float: right;
    width: 190px;
    margin-left: 10px;
}

fieldset {
    text-align: center;
    margin: 10px 0;
}

#status {
    position: absolute;
    top: 250px;
    left: 30px;
    width: 230px;
    border: 5px outset #999;
    padding: 5px 10px;
    background-color: #ccc;
    font-weight: bold;
    text-align: center;
}
.hide {
    display: none;
}
.show {
    display: inherit;
}

#board {
    background-color: #222;
    border: 5px inset #999;
    width: 310px; /* COLS * (22 + 4 + 4 + 1) */
}

.row {
    height: 31px;
}

.row.complete {
    opacity: 0.5;
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
}

.cell {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: black;
    border: 4px outset black;
    margin: 1px 1px 0 0;
}

#piecePreview {
    margin: auto;
    padding: 5px;
    width: 84px;
    height: 84px;
    background-color: #ccc;
}
#piecePreview .row {
    height: 21px;
}
#piecePreview .cell {
    width: 20px;
    height: 20px;
    border-style: none;
}
#piecePreview .cell-0 {
    background-color: #ccc;
    border-color: #ccc;
}

.cell-0 {
    background-color: black;
    border-color: black;
}

.cell-1 {
    background-color: cyan;
    border-color: cyan;
}

.cell-2 {
    background-color: blue;
    border-color: blue;
}

.cell-3 {
    background-color: orange;
    border-color: orange;
}

.cell-4 {
    background-color: yellow;
    border-color: yellow;
}

.cell-5 {
    background-color: lime;
    border-color: lime;
}

.cell-6 {
    background-color: #990099;
    border-color: #990099;
}

.cell-7 {
    background-color: red;
    border-color: red;
}
